body {
    margin: 0;
    font-family: 'Poppins',sans-serif;
    background: #fdfaf6;
    color: #3e2f24;
}

/* encabezados */

.navbar {
    background-color: #fff7f0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #e6ddd0;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #6e4c1e;
    margin-bottom: 10px;
}
.navbar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px; /* se usa en vez del margin para la separación de la lista*/
    padding: 0;
}

.navbar nav ul li a{
    text-decoration: none;
    color: #6e4c1e;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover{
    color: #a77a3d;
}

/* Section */

.hero{
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background-color: rgba(255, 255,255, 0.8);
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.hero-content h2 {
    font-family: 'Playfair Display' serif;
    font-size: 2.5rem;
    color: #6e4c1e;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
}

/* Introduccion */
.intro {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}